@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* _______________Local Styles_______________ */

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
}

.clear-fix {
  clear: both;
}

.container {
  padding: 0 10%;
}

/* ______________Home Styles________________*/

.home {
  width: 100%;
  height: 100vh;
  background: url(../images/hero\ img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar {
  width: 100%;
  background: transparent;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.895);
}

.navbar-logo {
  float: left;
  width: 40%;
  margin-top: 3px;
}

.navbar-logo a {
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
  color: #ff305b;
}

.navbar-links {
  float: left;
  width: 40%;
  padding-left: 5%;
}

.navbar-links ul li {
  float: left;
  padding: 10px;
  list-style: none;
}
.navbar-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.5s;
}

.navbar-links ul li a:hover {
  color: #ff305b;
}

.hero {
  text-align: center;
  margin: 15%;
  overflow: hidden;
}

.hero h3 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.hero h1 {
  font-weight: bold;
  font-size: 70px;
  color: #ff305b;
}

.hero p {
  color: #fff;
  font-size: 26px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* _____________About Styles____________ */
.about {
  padding: 8% 10%;
}

.about-box {
  width: 30%;
  margin-left: 10%;
  /* overflow: hidden; */
  float: left;
  border-radius: 7px;
  /* box-shadow: 0 0 0 8px #555555; */
  border: 8px solid #555;
}

.about-image {
  width: 100%;
  position: relative;
  transform: translate(20px, 20px);
  overflow: hidden;
}

.about-image img {
  width: 100%;
  border-radius: 5px;
}

.about-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 125%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s all ease-in-out;
  border-radius: 5px;
}

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social a {
  padding: 9px;
  font-size: 18px;
  color: #fff;
  transition: 0.4s all ease-in-out;
}

.social a:hover {
  color: #ff305b;
}

.about-image:hover .about-overlay {
  top: 0;
}

.about-content {
  width: 50%;
  float: left;
  margin-left: 7%;
}

.about-content h2 {
  color: #333;
  font-size: 34px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 25px;
}

.about-content h2 span {
  color: #ff305b;
}

.about-content p {
  border-bottom: 1px dashed #999;
  margin-bottom: 25px;
  padding-bottom: 25px;
  color: #555;
  font-size: 18px;
}

.about-content ul {
  float: left;
  list-style: none;
  padding: 0 45px 0 0;
  margin-bottom: 25px;
}

.about-content ul li {
  padding: 0 13px 13px 0;
  font-size: 18px;
  color: #555;
}

.about-content ul li span {
  font-weight: bold;
  color: #333;
}

.about-content a {
  margin-top: 15px;
  text-decoration: none;
  background-color: #ff305b;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
}
