@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* _______________Local Styles_______________ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
}

.clear-fix {
  clear: both;
}

.container {
  padding: 6% 10%;
}

.title-border {
  background-color: #ff305b;
  width: 80px;
  height: 0.1px;
  margin: 5px auto;
}

.middle-title-border {
  background-color: #ff305b;
  width: 180px;
  height: 0.1px;
  margin: 0 auto;
}

/* ______________Home Styles________________*/

.home {
  width: 100%;
  height: 100vh;
  background: url(../images/header.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.navbar {
  padding: 0% 10%;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.895);
}

.navbar-logo {
  float: left;
  width: 40%;
  margin-top: 3px;
  margin-left: 2%;
}

.navbar-logo a {
  font-weight: 600;
  font-size: 28px;
  text-decoration: none;
  color: #ff305b;
}

.navbar-links {
  float: right;
  width: 50%;
  margin-left: 95px;
}

.navbar-links ul li {
  float: left;
  padding: 10px;
  list-style: none;
}
.navbar-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.5s;
}

.navbar-links ul li a:hover {
  color: #ff305b;
}

.hero {
  text-align: center;
  margin: 15%;
  overflow: hidden;
}

.hero h3 {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.hero h1 {
  font-weight: bold;
  font-size: 70px;
  color: #ff305b;
}

.hero p {
  color: #fff;
  font-size: 26px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero p .text-wrapper {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 37px;
  vertical-align: bottom;
  overflow: hidden;
}

.hero p .changing-text {
  position: absolute;
  opacity: 0;
  animation: changeText 4s infinite;
  width: 100%;
  top: 0;
  left: 0;
}

.hero p .changing-text:nth-child(1) {
  animation-delay: 0s;
}

.hero p .changing-text:nth-child(2) {
  animation-delay: 2s;
}

@keyframes changeText {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* _____________About Styles____________ */

.about-box {
  width: 30%;
  margin-left: 10%;
  float: left;
  border-radius: 7px;
  border: 8px solid #555;
}

.about-image {
  width: 100%;
  position: relative;
  transform: translate(20px, 20px);
  overflow: hidden;
}

.about-image img {
  width: 100%;
  border-radius: 5px;
}

.about-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 125%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s all ease-in-out;
  border-radius: 5px;
}

.about-overlay .social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social a {
  padding: 7px;
  font-size: 18px;
  color: #fff;
  transition: 0.4s all ease-in-out;
}

.social a:hover {
  color: #ff305b;
}

.about-image:hover .about-overlay {
  top: 0;
}

.about-content {
  width: 50%;
  float: left;
  margin-left: 7%;
}

.about-content h2 {
  color: #333;
  font-size: 34px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 25px;
  padding-left: 7px;
  border-left: 5px solid #ff305b;
}

.about-content p {
  border-bottom: 1px dashed #999;
  margin-bottom: 25px;
  padding-bottom: 25px;
  color: #555;
  font-size: 18px;
}

.about-content ul {
  float: left;
  list-style: none;
  padding: 0 45px 0 0;
  margin-bottom: 25px;
}

.about-content ul li {
  padding: 0 13px 13px 0;
  font-size: 18px;
  color: #555;
}

.about-content ul li span {
  font-weight: bold;
  color: #333;
}

.about-content a {
  margin-top: 15px;
  text-decoration: none;
  background-color: #ff305b;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  transition: 0.5s all;
}

.about-content a:hover {
  background-color: red;
}

/* ___________Services______________ */

.services {
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
}

.services-title {
  margin-bottom: 50px;
}
.services h1 {
  font-size: 40px;
  font-weight: 800;
}

.services-content {
  width: 100%;
  margin-left: 7px;
}

.service {
  width: 23%;
  float: left;
  margin: 0 10px;
  padding: 20px;
  transition: 0.5s all;
}

.service i {
  color: #ff305b;
  font-size: 28px;
  margin: 10px;
  transition: 0.5s all;
}

.service h3 {
  font-size: 24px;
  font-weight: 600;
}

.service p {
  font-size: 18px;
  color: #555;
}

.service:hover {
  background-color: #fff;
}

.service:hover i {
  transform: scale(1.2);
}

/* ____________Portfolio Styles_________________ */

.portfolio {
  text-align: center;
  width: 100%;
}

.portfolio-title h1 {
  font-size: 40px;
  font-weight: 800;
}

.portfolio-types {
  margin-top: 45px;
}

.portfolio-types a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: 0.5s all;
}

.portfolio-types a:hover {
  color: #ff305b;
}

.portfolio-types a:first-child {
  color: #ff305b;
}

.portfolio-images {
  width: 100%;
  margin-top: 45px;
}

.portfolio-image {
  width: 30%;
  float: left;
  margin: 20px;
  position: relative;
}

.portfolio-image img {
  width: 100%;
}
.portfolio-image .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}

.portfolio-image:hover .layer {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.layer i {
  font-size: 24px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: 0.1s all;
  color: #ff305b;
  visibility: hidden;
}

.portfolio-image:hover .layer i {
  visibility: visible;
}

/* ________________Fun Facts________________ */

.fun-facts {
  background-color: #f1f1f1;
  width: 100%;
}

.fact {
  width: 20%;
  float: left;
  text-align: center;
  margin-left: 4%;
}

.fact i {
  color: #ff305b;
  font-size: 28px;
  margin: 10px;
  transition: 0.5s all;
}

.fact h3 {
  font-size: 24px;
}

/* _________________Testimonials Styles____________________ */

.testimonials-title {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.testimonials-title h1 {
  font-size: 40px;
  font-weight: 800;
}

.testimonial {
  width: 70%;
  background-color: #f1f1f1;
  border-radius: 10px;
  position: relative;
  margin-left: 15%;
  padding: 30px;
  overflow: hidden;
}

.testimonial-back-box {
  background-color: #ff305b;
  position: absolute;
  width: 200px;
  height: 300px;
  top: -115px;
  left: -100px;
  transform: rotate(45deg);
}

.testimonial-image {
  width: 15%;
  float: left;
  position: relative;
}

.testimonial-image img {
  width: 100%;
  padding-left: 10%;
  border-radius: 100%;
  padding-top: 25px;
}

.testimonial-content {
  width: 90%;
  padding-left: 20%;
}

.testimonial-content h2 {
  padding-bottom: 10px;
}

.testimonial-content h3 {
  color: #777;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 16px;
}

.testimonial-content p {
  color: #555;
  font-size: 16px;
  margin-bottom: 15px;
}

.testimonial-content .testimonial-stars {
  color: #f1c30d;
  font-size: 14px;
}

.testimonial-opened {
  margin: 15px auto;
  width: 20px;
  height: 8px;
  border-radius: 10px;
  background-color: #ff305b;
}

/* ________________Blog Styles______________________ */

.blog {
  background-color: #f1f1f1;
}

.blog-title {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.blog-title h1 {
  font-size: 40px;
  font-weight: 800;
}

.blog-cards {
  width: 100%;
  margin-left: 3.2%;
}

.blog-card {
  width: 30%;
  background-color: #fff;
  float: left;
  margin-right: 30px;
  padding-bottom: 15px;
}

.blog-card img {
  width: 100%;
}

.blog-card p {
  color: #555;
  font-size: 18px;
  padding: 15px;
}

.blog-card a {
  padding: 15px;
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  transition: 0.5s all;
}

.blog-card a:last-child {
  font-size: 18px;
  font-weight: 400;
}

.blog-card a:hover {
  color: #ff305b;
}

/* ______________Contact Styles___________________ */

.contact-title {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}

.contact-title h1 {
  font-size: 40px;
  font-weight: 800;
}

.contact-form {
  width: 70%;
  margin-left: 16%;
  padding: 10px;
}

.form-control {
  width: 45%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  margin-right: 25px;
}

.form-subject-control {
  width: 93.5%;
  margin-right: 3%;
  margin-top: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
}

.contact-form textarea {
  width: 93.5%;
  margin-right: 3%;
  margin-top: 25px;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
}

.contact-form .btn {
  display: block;
  margin-left: 2%;
  margin-top: 25px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #ff305b;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  transition: 0.5s all;
}

.contact-form .btn:hover {
  cursor: not-allowed;
  background-color: red;
}

/* _______________Footer Styles________________ */

.footer {
  padding: 3.1%;
  width: 100%;
  text-align: center;
  background-color: #333;
}

.footer .social {
  margin-bottom: 20px;
}

.footer p {
  color: #fff;
  font-size: 18px;
}

.footer p a {
  text-decoration: none;
  color: #ff305b;
}

.footer p a:hover {
  text-decoration: underline;
}
